body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fdf5ee;
}

span{
    display: flex;
}

.list{
    display: flex;
}

.toDiv{
    white-space: pre-line;
    display: flex;
    padding: 10px;
    border: 2px solid #2f2a28;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 8px;
    word-break: break-word;
    max-width: 500px;
}

div .project{
    border: 2px solid #2f2a28;
    padding: 10px 10px 30px 10px;
    background-color: #ffc98e;
    font-size: 18px;
    border-radius: 8px;
    margin: 50px;
    min-width: 300px;
}


/*dialog*/

dialog{
    display: flex;
    width: 400px;
    justify-content: center;
    background-color: #ffdecb;
    color: #2f2a28;
    border: 3px solid #2f2a28;
}

input{
    margin: 0 5px 20px 5px;
    width: 300px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select{
    background-color: #ffffff;
    border: 1px solid #8f8f9d;
    height: 25px;
    margin: 0 5px 0 5px;
    width: 308px;
}

label{
    font-size: 20px;
}


/*buttons*/

button{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    border: 2px solid #2f2a28;
}

button.project,
button.todo{
    background-color: #fde3e7;
    color: #2f2a28;
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    padding: 0 25px;
}

.submit{
    background-color: #fde3e7;
    color: #2f2a28;
    font-size: 16px;
    border: 2px solid #2f2a28;
}

.cancel{
    background-color: #de8996;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #a8495a;
}

.toDoForm > .cancel{
    margin-top: 30px;
}

.projectForm > .cancel{
    margin-top: 0;
}

.projectForm > input{
    margin: 10px 10px 20px 10px;
}